.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
}

/* To Configure the Components on 'Mobile Portrait View' with 'max-width: 1024px' */
@media screen and (max-width: 1024px) and (orientation : portrait) {
  .projects__grid {
    width: 100%; /* 95%; */
    margin: 15px;
  }
}

/* To Configure the Components on 'Mobile Landscape View' with 'max-width: 1024px' */
@media screen and (max-width: 1024px) and (orientation : landscape) {
  .projects__grid {
    width: 100%; /* 95%; */
    margin: 15px;
  }
}