.scroll-top {
  position: fixed;
  bottom: 2em;
  right: 4em;
  background-color: transparent;
}

/* To Configure the Components on 'Mobile Portrait/Landscape View' with 'max-width: 900px' */
@media (max-width: 900px) {
  .scroll-top {
    display: none;
  }
}