.additional-infos-mobile-portrait__grid {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    grid-gap: 2em;
    display: none;
}

/* To Configure the Components on 'Mobile Portrait View' with 'max-width: 1024px' */
@media screen and (max-width: 1024px) and (orientation : portrait) {
    .additional-infos-mobile-portrait__grid {
        display: grid;
        /* position: inherit;
        margin-left: 25px; */
    }
}

/* Exceptions For Large Mobile Screens using '768px & 1024px' Portrait Mode
To Configure the Components on 'Mobile Portrait View' with 'min-width: 768px' & 'max-width: 1024px' */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait) {
    .additional-infos-mobile-portrait__grid {
        display: grid;
        width: fit-content;
        /* position: inherit;
        margin-left: 25px;  */
    }
}

/* To Configure the Components on 'Mobile Landscape View' with 'max-width: 1024px' */
@media screen and (max-width: 1024px) and (orientation : landscape) {
    .additional-infos-mobile-portrait__grid {
        display: grid;
        width: fit-content;
        /* position: inherit;
        margin-left: 25px; */
    }
}