/* .ProfessionalExperiences {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
}
  
.ProfessionalExperiences:hover {
    transform: translateY(-7px);
} */

.professional__experiences {
    max-width: 450px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.professional__experiences-item {
    margin: 0.5em;
}