.additional-info-mobile-portrait {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
    margin-top: 700px;
    margin-left: -300px;
    width: 105%;
}

.additional-info-mobile-portrait:hover {
    transform: translateY(-7px);
}

.additional-info-mobile-portrait__description {
    margin-top: 1em;
}

.additional-info-mobile-portrait__stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.2em 0;
}

.additional-info-mobile-portrait__stack-item {
    margin: 0.5em;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--clr-fg-alt);
}

.additional-info-mobile-portrait .link--icon {
    margin-left: 0.5em;
}

/* To Configure the Components on 'Mobile Portrait View' with 'max-width: 1024px' */
@media screen and (max-width: 1024px) and (orientation : portrait) {
    .additional-info-mobile-portrait {
        margin-top: auto;
        margin-left: auto;
        width: -webkit-fill-available; /* fit-content; */ /* 112.5%; */
    }
}

/* Exceptions For Large Mobile Screens using '768px & 1024' Portrait Mode
To Configure the Components on 'Mobile Portrait View' with min-width: 768px & 'max-width: 1024px' */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait) {
    .additional-info-mobile-portrait {
        margin-top: auto;
        margin-left: auto;
        width: 135%;
    }
}

/* To Configure the Components on 'Mobile Landscape View' with 'max-width: 1024px' */
@media screen and (max-width: 1024px) and (orientation : landscape) {
    .additional-info-mobile-portrait {
        margin-top: auto;
        margin-left: auto;
        width: 120%; /* 112.5 */
    }
}