.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

/* To Configure the Components on 'Mobile Portrait View' with 'max-width: 1024px' */
@media screen and (max-width: 1024px) and (orientation : portrait) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
    width: 95%;
    margin-left: 10px;
  }
  .about__desc {
    max-width: fit-content;
  }
}

/* Exceptions For Large Mobile Screens using '768px & 1024' Portrait Mode
To Configure the Components on 'Mobile Portrait View' with 'min-width: 768px' & 'max-width: 1024px' */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait) {
  .about__contact {
    align-self: center;
  }
  .about__desc {
    max-width: fit-content;
  }
}

/* To Configure the Components on 'Mobile Landscape View' with 'max-width: 1024px' */
@media screen and (max-width: 1024px) and (orientation : landscape) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
    width: 95%;
    margin-left: 10px;
  }
  .about__contact {
    align-self: center;
  }
  .about__desc {
    max-width: fit-content;
  }
}