.additional-info {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
    margin-left: -250px;
}

.additional-info:hover {
    transform: translateY(-7px);
}

.additional-info__description {
    margin-top: 1em;
}

.additional-info__stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.2em 0;
}

.additional-info__stack-item {
    margin: 0.5em;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--clr-fg-alt);
}

.additional-info .link--icon {
    margin-left: 0.5em;
}

/* Exceptions For Large Mobile Screens using '1280px & 1340px' Landscape Mode
To Configure the Components on 'Mobile Landscape View' with min-width: 1280px & 'max-width: 1340px'
==> Specific for the Device 'Nexus 10' on 'Landscape Mode' when Developing using Microsoft Edge */
@media screen and (min-width: 1280px) and (max-width: 1340px) and (orientation : landscape) {
    .additional-info {
        margin-left: -220px;
    }
}